<form id="searchForm" class="form-search">
    <input name="searchText" type="text" id="searchText" class="input-medium search-query">
    <button id="btnSearch" type="button" class="btn">Search</button>
</form>
<legend>Search Results</legend>
<div class="pull-right span2"><legend>Tags</legend>{#Tags}<a href="#" data-Id="{TagName}" class="tags btn btn-link" style="color:#{FontColor};font-size:{FontSize}px;">{TagName}</a>({NoOfResource}){/Tags}</div>
<div  class="span9">
    <div id="sorter" class="span12" style="display:none;">
        <input type="hidden" id="TagSearch"/>
        <select name="SortBy" class="pull-right span2" id="allSorter">
            <option value="">Sort By</option>
            <option value="2">Name</option>
            <option value="1">Date</option>
            <option value="3">User Rank</option>
            <option value="4">Download</option>
       
        </select>
    </div>
<div id="searchResults"></div>
<div id="searchResultsPagination"></div>
<div id="searchResultsItemDetails"></div>
</div>