<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script data-main="/Client/Main" src="/scripts/require.js" type="text/javascript"></script>
    <title>Resource Manager-Home</title>

</head>
<body>


    <div class="navbar navbar-fixed-top">
        <div style="padding-left: 210px; margin: 10px 0;">
            <img src="/img/logo2.png" />
            <div class="pull-right" id="userlogin" style="padding-right: 40px;"></div>
        </div>

        <div class="navbar-inner" id="mainNav">
        </div>
    </div>
    <div id="alertMsg" style="width: 100%; top: 118px; position: fixed;">
    </div>
    <div class="container">
        <div id="fileContainer" class="row-fluid" style="padding-top: 110px;">
        </div>
    </div>

    <div id="tree-view" style="padding-left: 20px;">
    </div>

</body>

</html>
