<!--<table class="table table-hover">
    <thead>
        <th>Title
        </th>
        <th>Description
        </th>
        <th>Rank
        </th>
        <th>Category
        </th>
        <th>Image
        </th>
        <th>Rating
        </th>
        <th>
            Download
        </th>
    </thead>
    <tbody>
        {#searchResults}
       <tr>
           <td><a class="searchitemDetails" data-id="{Id}" href="#">{Title}</a>
           </td>
           <td>{Description}
           </td>
           <td>{Rank}
           </td>
           <td>{Category}
           </td>
           <td>
               <img style="height:80px;" src="{imgPath}" class="img-polaroid">
           </td>
           <td><span class="ratingArea">
               <input type="hidden" id="fileIdforRating" value="{Id}" />
               <input type="hidden" id="previousRating" value="{UserRating}" />
                <img src="../../../img/EmptyStar.png" alt="Star Rating" align="middle" id="1" class="rating" />
                <img src="../../../img/EmptyStar.png"" alt="Star Rating" align="middle" id="2" class="rating" />
                <img src="../../../img/EmptyStar.png"" alt="Star Rating" align="middle" id="3" class="rating" />
                <img src="../../../img/EmptyStar.png"" alt="Star Rating" align="middle" id="4" class="rating" />
                <img src="../../../img/EmptyStar.png"" alt="Star Rating" align="middle" id="5" class="rating" />
            </span>
              
           </td>
           <td>
               <a href="{Download}" id="fDownload" class="downdrag" data-downloadurl="application/zip:{ResourceZipName}:{root}{Download}" draggable="true" title="Drag or Click"><img style="height:80px;" src="{imgPath}" class="img-polaroid"></a>
               
           </td>

       </tr>
        {/searchResults}
    </tbody>
</table>-->
{#searchResults}
<div style="border: 5px solid white; position: relative" class="pull-left imageItemdiv">
    <img class="downdrag img-polaroid" data-downloadurl="application/zip:{ResourceZipName}:{root}{Download}" draggable="true" style="height: 150px; width: 150px;" data-id="{Id}" src="{imgPath}">
    <div style="position: absolute; top: 130px; right: 15px; display: none;" class="fileLoaderdiv">
        <a href="{Download}" id="fDownload" class="fDownload" data-id="{Id}"><i class="icon-download-alt"></i></a>
    </div>
    <div style="position: absolute; top: 130px; right: 130px; display: none;" class="addtodownload" data-id="{Id}">
        <a href="#" id="A1" title="add to download basket" data-id="{Id}"><i class="icon-plus-sign" data-id="{Id}"></i></a>
    </div>
    
    <div style="position: absolute; top: 20px; right: 15px; display: none;" class="addFavouriteCart">
        <a href="#" class="addFavourite" data-id="{Id}" title="{FavouriteIconHelpTitle}"><i id="{Id}" class="{FavouriteIconClass}" data-id="{Id}"></i></a>
    </div>

</div>
{/searchResults}
<div style="clear: both;"></div>
