<div id="forgotPassword" style="margin-top: 15%; margin-left: 200px;">
    <form id="frmForgotPassword" class="form-horizontal" style="height: 150px; width: 500px; border: 2px solid #d4d4d4; border-radius: 5px; padding-top: 15px;">
        <div class="control-group">
            <div class="controls">
                <label style="font-weight: bold;">Forgot Password</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Username</label>
            <div class="controls">
                <input type="text" id="txtRecoverEmail" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="RecoverPassword" type="button" class="btn">Submit</button>
            </div>
            <div class="controls">
                <a href="/Client/Home.html" id="linkBckHome" class="btn btn-link pull-right">Back to Home</a>
            </div>
        </div>
    </form>
</div>



