<div id="userlogin" style="margin-top: 15%; margin-left: 200px;">
    <form id="frmLogin" class="form-horizontal" style="height: 200px; width: 500px; border: 2px solid #d4d4d4; border-radius: 5px; padding-top: 15px;">
        <div class="control-group">
            <div class="controls">
                <label style="font-weight: bold;">Sign in to FileManager</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Username</label>
            <div class="controls">
                <input type="text" id="txtEmail" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="txtPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="btnLoginNew" type="submit" class="btn">Sign in</button>
            </div>
            <div class="controls">
                <a href="#" id="linkForgotPasswd" class="btn btn-link">Can't access your account?</a>
            </div>
        </div>
    </form>
</div>



