<div class="span8">
	<div class="pull-right">
		<input class="search" type="search" data-column="all"> (Match any column)<br>
	</div>
	<table class="table table-hover" id="tableUsers">
		<thead>
		<tr>
				<th>
					Username
				</th>
				<th>
					Email
				</th>
				<th>
					Role
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{#users}
			<tr>
				<td>
					{Username}
				</td>
				<td>
					{email}
				</td>
				<td>
					{role}
				</td>
				<td>
					<a href="#"><i data-id="{Username}" class="icon-edit EditUser"></i></a>
					<a id="#" href="#"><i data-id="{Username}" class="icon-trash deleteUser"></i></a>
				</td>
			</tr>
			{/users}
		</tbody>
		<tfoot>
			<tr id="userpagerOne">
				<td colspan="8">
					<button class="btn  addUser"><i class="icon-plus-sign"></i>Add</button>
					<i class="first  icon-fast-backward"></i>
					<i class="prev icon-backward"></i>
					<input type="text" class="pagedisplay input-mini search-query" />
					<i class="next icon-forward"></i>
					<i class="last icon-fast-forward"></i>

					<select class="pagesize input-mini pull-right">
						<option selected="selected" value="10">10</option>

						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
					</select>

				</td>
			</tr>
		</tfoot>
	</table>
</div>
<div id="createUserContainer"></div>
<div id="editUserContainer"></div>