
<div class="span6">
    <table class="table table-hover" id="tableHistory">
        <thead>
            <tr>
                <td class="filter" colspan="8">
                    <div class="pull-right">
                        Search:
                         <input id="filterBoxOneHistory" value="" maxlength="30" size="30" type="text" class="input-medium search-query" />
                        <i class="icon-remove" id="filterClearOneHistory"></i> 
                    </div>
                </td>
            </tr>
            <tr>
                <th><a href='#' title="Click Header to Sort">Resource Title</a>
                </th>
                <th><a href='#' title="Click Header to Sort">User Name</a>
                </th>
                <th><a href='#' title="Click Header to Sort">Total Downloads</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {#resourcehistories}
       <tr>
           <td>{ResourceTitle}
           </td>
           <td>{UserName}
           </td>
           <td>{UserWiseDownloadCount}
           </td>
           <td>
               <a href="#"><i data-id="{ResourceId}" data-userId="{UserId}" class="icon-list-alt DetailHistory"></i></a>
           </td>
       </tr>
            {/resourcehistories}
        </tbody>
        <tfoot>
            <tr id="pagerOneHistory">
                <td colspan="8">
                    <!--<button class="btn  addCategory"><i class="icon-plus-sign"></i>Add</button> -->
                    <i class="first  icon-fast-backward"></i>
                    <i class="prev icon-backward"></i>
                    <input type="text" class="pagedisplay input-mini search-query" />
                    <i class="next icon-forward"></i>
                    <i class="last icon-fast-forward"></i>
                    
                    <select class="pagesize input-mini pull-right">
                        <option selected="selected" value="10">10</option>

                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                    
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div id="historyDetail">
</div>


